<div class="row">
    <h1 class="text-center">Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Tarjeta de presentacion de un producto.</h3>
            <p>Construccion de una tarjeta de presentacion de un producto. Se utilizo HTML y CSS.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-3">
            <img src="../../../assets/imagen-de-proyecto.jpg" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Componente de codigo QR</h3>
            <p>Construccion de un componente con codigo qr. Se utilizo HTML y CSS.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-3">
            <img src="../../../assets/componente-codigo-qr.jpg" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio - Argentina Programa</h3>
            <p>Frontend realizado con Angular. Backend hecho con Spring.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2 mb-3">
            <img src="../../../assets/argentina-programa-imagen.png" class="img-fluid">
        </div>
    </div>
</div>
