<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quibusdam inventore, aperiam omnis dolorum labore deleniti aspernatur distinctio recusandae animi quia accusantium perspiciatis doloremque illum mollitia rem incidunt esse autem!</p>
            </li>
            <li>
                <h3>Trabajo 2</h3> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quibusdam inventore, aperiam omnis dolorum labore deleniti aspernatur distinctio recusandae animi quia accusantium perspiciatis doloremque illum mollitia rem incidunt esse autem!</p>
            </li>
            <li>
                <h3>Trabajo 3</h3> - <h3>(years)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam repellat iste qui totam praesentium possimus ab et culpa, eligendi blanditiis nostrum minima aperiam aspernatur ad. Nam debitis quisquam id perferendis.</p>
            </li>
        </ul>
    </div>
</div>