<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350"
            >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="100"
            [imageSrc]="'../assets/css3.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/resolucion-de-problemas.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/responsabilidad.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/reloj-de-arena.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#3f5d96'"
            [innerStrokeColor]="'#88a1e0'"
            [animation]="true"
            [animationDuration]="350">
        </circle-progress>
    </div>
</div>
