<div class="row">
    <div class="container">
        <div class="logoAp">
            <img src="../../../assets/APLogo.png" class="logoArgProg">
        </div>
        <div class="redes-sociales">
            <a href="https://www.linkedin.com/in/david-guzm%C3%A1n-b47757269/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/_eldav_" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/facadagu/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/facadagu" target="_blank"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-primary" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-primary" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>