
.row {
    padding: 20px;
    
}

div {
    background-color: #C0D0EF;
    text-align: center;
    
    
}

@media (min-width: 576px){
    #fotoDePerfil {
        border-radius: 100%;
        height: 180px;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 380px
    }

    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px){
    #fotoDePerfil {
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 690px

    }
}

@media (max-width: 350px){
    #fotoDePerfil {
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 720px

    }
}


#nombre {
    font-weight: bold;
    margin-top: 15%
}