
.row {
    padding: 20px;
    
}

div {
    background-color: #a1b5cb;
    text-align: center;
    
    
}

@media (min-width: 576px){
    #fotoDePerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        height: 180px;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 380px

    }
}

@media (max-width: 575px){
    #fotoDePerfil {
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 690px

    }
}

@media (max-width: 350px){
    #fotoDePerfil {
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 720px

    }
}


#nombre {
    font-weight: bold;
    margin-top: 15%
}